.app{
    width: 100vw;
}
.app header {
    padding: 10px 0 ;
    background-color: #00214a;
    color: #dad8d8;
    text-align: center;
}
.flexContainer{
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    max-width: 70%;
    gap: 1.5em;
}

@media (max-width: 768px) {
    .flexContainer{
        max-width: 100%;
    }
}